<div class="container">
<form action="/session" method="post">


          <label for="email">Email</label>
          <input id="email" type="email" class="validate" name="email">
          
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        
      <button>Login </button>
    </form>
 </div>