
<div class="container">

<form action="/users" method ="post">
  <label for="">Email</label>
  <input id="email" type="email" class="validate" name="email">

  <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>


 <button>Sign Up</button>
</form>

</div>