
.tinted-image {
  background: 
    /* top, transparent black */ 
    linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ),
    /* bottom, image */
    url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif);
    background-size: cover;
    height: 400px;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.extrapadding {
    margin: 2em;
    /*padding: 2em;*/

}
body > div.fixedcontainer.z-depth-2 > div{
vertical-align: middle;

}
.fixedcontainer {
    height: 300px;

}    


body > div:nth-child(4) > div{
  display: flex;
    justify-content: center;
}

body > div.z-depth-2.valign-wrapper > div > div > div:nth-child(1) > div {
    line-height: 2;
    font-size: 1.2em;
    color: white;

}

body > div.z-depth-2.valign-wrapper > div > div > div:nth-child(2) > div {
   line-height: 2;
   font-size: 1.2em;
   color: white;
}

body > div.z-depth-2.valign-wrapper > div > div > div:nth-child(3) > div {
    line-height: 2;
    font-size: 1.2em;
    color: white;
}


footer.page-footer {
    margin-top: 0px;
}

/*TOPIC PAGE*/
.topicbody{
  background:#263238;
  -webkit-animation:colour 1s linear infinite;
    -moz-animation:colour 1s linear infinite;
  
}
@-webkit-keyframes colour{
    0%{
        background:#37474f
    }

    40%{
        background:#eceff1
    }

    80%{
        background:#455a64
    }

    100%{
        background:#607d8b
    }

}

@-moz-keyframes colour{
    0%{
        background:#ec6a38
    }

    40%{
        background:#ec4038
    }

    80%{
        background:#ec9138
    }

    100%{
        background:#ec6a38
    }

}












.sliderpadding {
    padding: 7em;
    margin: 2em;
}

/* -------------------------------- 

ANIMATED HEADLINES Primary style

-------------------------------- */

/*Changed by LJ*/
/*#column-content > div > section {
    margin: 0 auto;
    height: 100%;
}*/

#column-content > div
{
    margin: 0 auto;
    height: 100%;
}

/*Changed by LJ*/
#column-content > div > section > h1 {
    margin: 0;
    padding-top: 15%;
}

#column-content

{
    margin: 0 auto;
    height: 100%;
}
/*#column-content > div

#column-content > div > section

#column-content > div > section > h1*/
/*#column-content {
    margin: 0 auto;
    height: 100%;
}
*/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}
.cd-title h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .cd-title {
    line-height: 250px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-title {
    height: 200px;
    line-height: 300px;
  }
  .cd-title h1 {
    font-size: 3rem;
  }
}

.cd-intro {
  width: 90%;
  max-width: 768px;
  text-align: center;
  height: 350px;
}

.cd-intro {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .cd-intro {
    margin: 0 auto 5em auto;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    margin: 0 auto 6em auto;
  }
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/**/
/* -------------------------------- 

xtype 

-------------------------------- */
.cd-headline.type .cd-words-wrapper {
  vertical-align: center;
  overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
  color: #0d0d0d;
}
.cd-headline.type b {
  visibility: hidden;
}
.cd-headline.type b.is-visible {
  visibility: visible;
}
.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}


body > div.z-depth-2.valign-wrapper > div > div {
    padding: 30px;
}


body {
    background-color: #263238;
    line-height: inherit;
}



body > footer {
    margin-top: 0;
    margin: 0!important;
    padding: 0;
}


body > footer > div.container > div {
    line-height: 1.5;
}



body > div:nth-child(2) > div > div > div > div > div:nth-child(5) {
    line-height: 1.5;
}


.modal-content {
    line-height: 1.5;
}












